.lightbox_container{
    .lightbox_content{
        .image{
            // width: 500px;
            // height: 500px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: background-image 0.5s;
            -moz-transition: background-image 0.5s;
            // max-width: calc(80vw - 48px);
            // max-height: calc(80vh - 48px);
            // margin:0 20px;
        }
        .right-icon,.left-icon{
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
        .right-icon{
            right: 0;
        }
    }
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999999999;
    font-size: 40px
}
.image{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
